@import "~@dynamic-framework/ui-react/src/style/abstracts/+import";

.actions-btn {
  .btn {
    margin: auto;
  }
}

.d-card-account .card-body > :first-child {
  height: 100%;
}

.frequent-collapse {
  .collapse-body {
    padding-bottom: 0;
  }

  .frequent-collapse-actions {
    .btn {
      padding-block: 0;
    }
  }
}

.collapse-button-activity {
  width: var(--#{$prefix}ref-spacer-6);
  height: var(--#{$prefix}ref-spacer-6);
  aspect-ratio: 1/1;
  background: rgba(var(--#{$prefix}secondary-rgb), .1);
  border-radius: 50%;
}

.quick-transfer {
  position: sticky;
  top: var(--#{$prefix}ref-spacer-3);
}

.d-carousel .splide__track .splide__list {
  height: auto;
}
