@import "@dynamic-framework/ui-react/src/style/abstracts/+import";

.d-card-account .card-body > :first-child {
  height: 100%;
}

.frequent-collapse {
  .collapse-body {
    padding-bottom: 0;
  }

  .frequent-collapse-actions {
    .btn {
      padding-block: 0;
    }
  }
}

.collapse-button-activity {
  width: var(--#{$prefix}ref-spacer-6);
  height: var(--#{$prefix}ref-spacer-6);
  aspect-ratio: 1/1;
  background: rgba(var(--#{$prefix}secondary-rgb), .1);
  border-radius: 50%;
}

.quick-transfer {
  position: sticky;
  top: var(--#{$prefix}ref-spacer-3);
}

// stylelint-disable-next-line selector-class-pattern
.d-carousel .splide__track .splide__list {
  height: auto;
}

.contact-selector {
  .d-popover-content {
    z-index: 10;
  }
}

.drop-contact {
  background-color: var(--#{$prefix}white);
  border: 1px solid var(--#{$prefix}gray-300);

  .d-quick-action-button {
    --#{$prefix}quick-action-button-component-border-radius: 0;
    --#{$prefix}quick-action-button-border: 0;
    --#{$prefix}quick-action-button-box-shadow: 0;

    position: relative;
    overflow: hidden;
  }

  d-quick-action-button:not(:last-child) .d-quick-action-button {
    --#{$prefix}quick-action-button-border-bottom: 1px solid var(--#{$prefix}gray-300);

    &:active {
      border-color: var(--#{$prefix}gray-300);
    }
  }

  .selected {
    position: relative;
    background-color: rgba(var(--#{$prefix}gray-200-rgb), .5);
  }
}
